.pheader {
    &_logo {
        &_btn {
            display: none;
            &_img {
                display: none;
            }
        }
    }
}
.pmain {
    &_block1 {
        &_forp1 {
            display: none;
        }
        &_forp2 {
            display: none;
        }
        &_forp3 {
            display: none;
        }
        &_forbtn {
            display: none;
        }
        &_forp4 {
            display: none;
        }
        &_forbtn2 {
            display: none;
        }
    }
    &_block2 {
        &_forp1 {
            display: none;
        }
        &_forp2 {
            display: none;
        }
        &_forp3 {
            display: none;
        }
        &_forblocks {
            display: none;
        }
        &_forod {
            display: none;
        }
        &_fortb {
            display: none;
        }
        &_fortl {
            display: none;
        }
        &_forjp {
            display: none;
        }
    }
    &_block3 {
        &_forp {
            display: none;
        }
        &_forp2 {
            display: none;
        }
    }
    &_block4 {
        &_forimg {
            &_img {
                display: none;
            }
        }
        &_forp1 {
            display: none;
        }
        &_forp2 {
            display: none;
        }
        &_forbtn {
            display: none;
        }
    }
    &_block5 {
        &_forp {
            display: none;
        }
        &_forp2 {
            display: none;
        }
    }
    &_block6 {
        &_forp {
            display: none;
        }
        &_forvd {
            &_vd {
                &_forp {
                    display: none;
                }
            }
        }
        &_forgm {
            &_gm {
                &_forp {
                    display: none;
                }
            }
        }
    }
    &_block7 {
        &_forp {
            display: none;
        }
        &_forp2 {
            display: none;
        }
    }
}