.header_head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 72px;
  background: #050404;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.25) inset;
  -webkit-backdrop-filter: blur(6.5px);
          backdrop-filter: blur(6.5px);
}
.header_head_nav {
  width: 560px;
  height: 20px;
}
.header_head_nav_navitem_ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_head_nav_navitem_ul_li {
  list-style: none;
}
.header_head_nav_navitem_ul_li_a {
  color: #ffffff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  text-decoration: none;
  transition-duration: 0.6s;
}
.header_head_nav_navitem_ul_li_a:hover {
  transition-duration: 0.6s;
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 11px rgb(242, 255, 0), 0 0 20px rgb(242, 255, 0), 0 0 30px rgb(242, 255, 0), 0 0 55px rgb(242, 255, 0), 0 0 80px rgb(242, 255, 0);
}

.main_block1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 723px;
  background: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.main_block1_bl {
  width: 989px;
  height: 656px;
}
.main_block1_bl_title {
  color: #FFF;
  font-family: Inter;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
}
.main_block1_bl_p1 {
  color: #FFF;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  margin-top: 5px;
}
.main_block1_bl_p2 {
  width: 459px;
  height: 150px;
  color: #FFF;
  text-align: justify;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  margin-top: 25px;
}
.main_block1_bl_a_btn {
  width: 199px;
  height: 60px;
  border-radius: 10px;
  background: #FFD76E;
  border: none;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 60px;
  cursor: pointer;
  transition-duration: 0.6s;
}
.main_block1_bl_a_btn:hover {
  transition-duration: 0.6s;
  background: #fff;
}
.main_block1_bl_gs_forp {
  display: flex;
  justify-content: center;
}
.main_block1_bl_gs_forp_p {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  margin-top: 84px;
}
.main_block1_bl_gs_forsvg {
  display: flex;
  justify-content: center;
}
.main_block1_bl_gs_forsvg_a_btn {
  border: none;
  background: none;
  cursor: pointer;
}
.main_block2 {
  width: 100%;
  height: 1211px;
  background: #000;
}
.main_block2_blocks {
  position: absolute;
  display: flex;
  transform: rotate(-10.004deg);
  margin-top: 80px;
  left: -150px;
}
.main_block2_blocks_block1 {
  background: none;
  width: 247.547px;
  height: 369.028px;
  border: 2px solid #FFD76E;
}
.main_block2_blocks_block2 {
  background: none;
  width: 340.934px;
  height: 178.9px;
  border: 2px solid #FFF;
  position: absolute;
  margin-top: 230px;
  margin-left: 120px;
}
.main_block2_forp {
  display: flex;
  justify-content: center;
}
.main_block2_forp_p {
  color: #FFD76E;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 600px;
  height: 116px;
  margin-top: 40px;
}
.main_block2_forp2 {
  display: flex;
  justify-content: center;
}
.main_block2_forp2_p {
  color: #FFF;
  text-align: justify;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 892px;
  height: 80px;
  margin-top: 40px;
}
.main_block2_forbl {
  display: flex;
  justify-content: center;
}
.main_block2_forbl_bl {
  width: 858px;
  height: 664px;
  margin-top: 205px;
}
.main_block2_forbl_bl_blocks {
  position: absolute;
  display: flex;
  margin-left: 55px;
}
.main_block2_forbl_bl_blocks_block1 {
  background: none;
  width: 334px;
  height: 493px;
  border: 2px solid #FFD76E;
}
.main_block2_forbl_bl_blocks_block2 {
  background: none;
  width: 460px;
  height: 239px;
  border: 2px solid #FFF;
  position: absolute;
  margin-top: 330px;
  margin-left: 140px;
}
.main_block2_forbl_bl_tb {
  position: absolute;
  width: 302px;
  height: 258px;
  margin-top: 291px;
}
.main_block2_forbl_bl_tb_img {
  position: relative;
}
.main_block2_forbl_bl_tb_forp {
  display: flex;
  justify-content: center;
}
.main_block2_forbl_bl_tb_forp_p {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 19px;
}
.main_block2_forbl_bl_od {
  position: absolute;
  width: 302px;
  height: 258px;
  margin-left: 238px;
  margin-top: 28px;
}
.main_block2_forbl_bl_od_img {
  position: relative;
}
.main_block2_forbl_bl_od_forp {
  display: flex;
  justify-content: center;
}
.main_block2_forbl_bl_od_forp_p {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 8px;
}
.main_block2_forbl_bl_dp {
  position: absolute;
  width: 212px;
  height: 363px;
  margin-left: 326px;
  margin-top: 291px;
}
.main_block2_forbl_bl_dp_img {
  width: 212px;
  height: 314px;
  background: url("../img/face2.png");
  border: 3px solid #FFD76E;
  position: relative;
}
.main_block2_forbl_bl_dp_forp {
  display: flex;
  justify-content: center;
}
.main_block2_forbl_bl_dp_forp_p {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}
.main_block2_forbl_bl_tl {
  position: absolute;
  width: 300px;
  height: 253px;
  margin-left: 558px;
  margin-top: 190px;
}
.main_block2_forbl_bl_tl_img {
  position: relative;
}
.main_block2_forbl_bl_tl_forp {
  display: flex;
  justify-content: center;
}
.main_block2_forbl_bl_tl_forp_p {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 4px;
}
.main_block2_forbl_bl_forp {
  position: absolute;
  margin-top: 136px;
  margin-left: 562px;
}
.main_block2_forbl_bl_forp_p {
  color: #FFD76E;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main_block3 {
  width: 100%;
  height: 297px;
  background: url("../img/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main_block3_forp {
  display: flex;
  justify-content: center;
}
.main_block3_forp_p {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 75px;
}
.main_block3_forp2 {
  display: flex;
  justify-content: center;
}
.main_block3_forp2_p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 351px;
  height: 92px;
  margin-top: 25px;
}
.main_block4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 644px;
  -moz-column-gap: 173px;
       column-gap: 173px;
  background: #000;
}
.main_block4_texts {
  width: 625px;
  height: 385px;
}
.main_block4_texts_p1 {
  color: #FFD76E;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main_block4_texts_p2 {
  color: #FFF;
  text-align: justify;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 559px;
  height: 172px;
  margin-top: 14px;
}
.main_block4_texts_a_btn {
  border-radius: 10px;
  background: #FFD76E;
  width: 200px;
  height: 60px;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  border: none;
  margin-top: 38px;
  transition-duration: 0.6s;
}
.main_block4_texts_a_btn:hover {
  transition-duration: 0.6s;
  background: #fff;
}
.main_block5 {
  width: 100%;
  height: 297px;
  background: url("../img/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main_block5_forp {
  display: flex;
  justify-content: center;
}
.main_block5_forp_p {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 75px;
}
.main_block5_forp2 {
  display: flex;
  justify-content: center;
}
.main_block5_forp2_p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 351px;
  height: 92px;
  margin-top: 25px;
}
.main_block6 {
  width: 100%;
  height: 737px;
  background: #000;
}
.main_block6_forp {
  display: flex;
  justify-content: center;
}
.main_block6_forp_p {
  color: #FFD76E;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
}
.main_block6_bls {
  display: flex;
  justify-content: center;
  -moz-column-gap: 222px;
       column-gap: 222px;
}
.main_block6_bls_bl1 {
  background: url("../img/bl1.png");
  width: 395px;
  height: 528px;
  margin-top: 40px;
}
.main_block6_bls_bl1_vd {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.9);
  width: 395px;
  height: 215px;
  margin-top: 313px;
}
.main_block6_bls_bl1_vd_p {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main_block6_bls_bl2 {
  background: url("../img/gm.png");
  width: 395px;
  height: 528px;
  margin-top: 40px;
}
.main_block6_bls_bl2_gm {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.9);
  width: 395px;
  height: 215px;
  margin-top: 313px;
}
.main_block6_bls_bl2_gm_p {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main_block7 {
  width: 100%;
  height: 297px;
  background: url("../img/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main_block7_forp {
  display: flex;
  justify-content: center;
}
.main_block7_forp_p {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 75px;
}
.main_block7_forp2 {
  display: flex;
  justify-content: center;
}
.main_block7_forp2_p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 351px;
  height: 92px;
  margin-top: 25px;
}
.main_block8 {
  width: 100%;
  height: 550px;
  background: #000;
}
.main_block8_forp {
  display: flex;
  justify-content: center;
}
.main_block8_forp_p {
  color: #FFD76E;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 40px;
}
.main_block8_bl1 {
  display: flex;
  justify-content: center;
  -moz-column-gap: 75px;
       column-gap: 75px;
}
.main_block8_bl1_a {
  text-decoration: none;
}
.main_block8_bl1_a_bg {
  width: 300px;
  height: 345px;
  margin-top: 30px;
}
.main_block8_bl1_a_bg_forp {
  display: flex;
  justify-content: center;
}
.main_block8_bl1_a_bg_forp_p {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}
.main_block8_bl1_a2 {
  text-decoration: none;
}
.main_block8_bl1_a2_bg {
  width: 309px;
  height: 345px;
  margin-top: 30px;
}
.main_block8_bl1_a2_bg_forimg {
  display: flex;
  justify-content: center;
}
.main_block8_bl1_a2_bg_forp {
  display: flex;
  justify-content: center;
}
.main_block8_bl1_a2_bg_forp_p {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}
.main_block8_bl1_a3 {
  text-decoration: none;
}
.main_block8_bl1_a3_bg {
  width: 300px;
  height: 345px;
  margin-top: 30px;
}
.main_block8_bl1_a3_bg_forp {
  display: flex;
  justify-content: center;
}
.main_block8_bl1_a3_bg_forp_p {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
}
.main_block9 {
  width: 100%;
  height: 297px;
  background: url("../img/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main_block9_forp {
  display: flex;
  justify-content: center;
}
.main_block9_forp_p {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 75px;
}
.main_block9_forp2 {
  display: flex;
  justify-content: center;
}
.main_block9_forp2_p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 351px;
  height: 92px;
  margin-top: 25px;
}
.main_block10 {
  width: 100%;
  height: 888px;
  background: #000;
}
.main_block10_forp {
  display: flex;
  justify-content: center;
}
.main_block10_forp_p {
  color: #FFD76E;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 55px;
}
.main_block10_bl {
  display: flex;
  justify-content: center;
  -moz-column-gap: 35px;
       column-gap: 35px;
}
.main_block10_bl_b1 {
  width: 312px;
  height: 621px;
  margin-top: 24px;
}
.main_block10_bl_b1_forp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 164px;
  border: 2px solid #FFD76E;
  margin-top: 18px;
  background: none;
}
.main_block10_bl_b1_forp_p {
  color: #FFF;
  text-align: justify;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 289px;
  height: 120px;
}
.main_block10_bl_b1_img2 {
  margin-top: 18px;
}
.main_block10_bl_b2 {
  width: 312px;
  height: 621px;
  margin-top: 24px;
}
.main_block10_bl_b2_forp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 206px;
  border: 2px solid #FFD76E;
}
.main_block10_bl_b2_forp_p {
  color: #FFF;
  text-align: justify;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 303px;
  height: 191px;
}
.main_block10_bl_b2_img1 {
  margin-top: 24px;
}
.main_block10_bl_b2_img2 {
  margin-top: 22px;
}
.main_block10_bl_b3 {
  width: 312px;
  height: 621px;
  margin-top: 24px;
}
.main_block10_bl_b3_img2 {
  margin-top: 17px;
}
.main_block10_bl_b3_forp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 230px;
  border: 2px solid #FFD76E;
  margin-top: 17px;
}
.main_block10_bl_b3_forp_p {
  width: 282px;
  height: 214px;
  color: #FFF;
  text-align: justify;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main_block11 {
  width: 100%;
  height: 297px;
  background: url("../img/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.main_block11_forp {
  display: flex;
  justify-content: center;
}
.main_block11_forp_p {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 75px;
}
.main_block11_forp2 {
  display: flex;
  justify-content: center;
}
.main_block11_forp2_p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 351px;
  height: 92px;
  margin-top: 25px;
}
.main_block12 {
  width: 100%;
  height: 887px;
  background: #000;
}
.main_block12_forp {
  display: flex;
  justify-content: center;
}
.main_block12_forp_p {
  color: #FFD76E;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 50px;
}
.main_block12_forbl {
  display: flex;
  justify-content: center;
}
.main_block12_forbl_bl {
  width: 752px;
  height: 500px;
  border-radius: 8px;
  border: 4px solid #FFD76E;
  background: #FFF;
  margin-top: 100px;
}
.main_block12_forbl_bl_forp1 {
  width: 157px;
  height: 64px;
  margin-top: 36px;
  margin-left: 15px;
}
.main_block12_forbl_bl_forp1_p1 {
  color: #FFD76E;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.main_block12_forbl_bl_forp1_p2 {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 16px;
}
.main_block12_forbl_bl_forp2 {
  width: 368px;
  height: 64px;
  margin-top: 31px;
  margin-left: 15px;
}
.main_block12_forbl_bl_forp2_p1 {
  color: #FFD76E;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.main_block12_forbl_bl_forp2_p2 {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 16px;
}
.main_block12_forbl_bl_forp3 {
  width: 716px;
  height: 64px;
  margin-top: 31px;
  margin-left: 15px;
}
.main_block12_forbl_bl_forp3_p1 {
  color: #FFD76E;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.main_block12_forbl_bl_forp3_p2 {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 16px;
}
.main_block12_forbl_bl_forp4 {
  width: 532px;
  height: 64px;
  margin-top: 31px;
  margin-left: 15px;
}
.main_block12_forbl_bl_forp4_p1 {
  color: #FFD76E;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.main_block12_forbl_bl_forp4_p2 {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 16px;
}
.main_block13 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 389px;
  background: url("../img/bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.main_block13_p {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 477px;
  height: 58px;
  margin-top: 165px;
}
.main_block13_imgs {
  width: 64px;
  height: 266px;
  margin-top: 50px;
}
.main_block13_imgs_a {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */